[package]
name = "ob"
version = "0.1.0"
edition = "2021"

[dependencies]

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
opt-level = 3

[profile.bench]
inherits = "release"
